.header__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__lang {
    width: 77px;
  }
}