.header__block {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 48px;
}

@media screen and (min-width: 768px) {
  .header__block {
    padding-top: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .header__block {
    padding-bottom: 56px;
  }
}
