.lead__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: calc(100% - 6.66%);
    margin: 0 auto 32px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    width: calc(100% - 26.82%);
    margin: 0 auto 32px;
  }
}