.section-title {
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 32px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 48px;
    grid-area: title;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 72px;
    line-height: 76px;
  }
}