.cover__subtitle {
  margin: 0;
  color: #ffffff;
  text-align: center;
  align-self: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: calc(100% - 10%);
  padding-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: calc(100% - 53.125%);
    padding-bottom: 115px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
    width: calc(100% - 64.84%);
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    padding-bottom: 245px;
    width: calc(100% - 64.375%);
  }
}