.footer__copy {
  padding: 0 0 24px 16px;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 48px 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__copy {
    margin-top: 90px;
    padding: 0;
    text-align: end;
  }
}